<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('global/meta'); -%>

    <!-- Title Page-->
    <title><%= title %></title>

    <%- include('global/css'); -%>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <%- include('global/navigation_mobile'); -%>

        <!-- MENU SIDEBAR-->
        <%- include('global/navigation'); -%>

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                        <div class="header-wrap">
                          <h3><i class="fas fa-user"></i>&nbsp; <%= title %></h3>
                          <%- include('global/header'); -%>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->
            <div id="app">
              <div class="main-content">
                  <div class="section__content section__content--p30">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="card">
                              <div class="card-header">
                                <i class="mr-2 fa fa-list"></i>
                                <strong class="card-title">Daftar Pengguna</strong>

                              </div>
                              <div class="card-body">
                                <div class="table-responsive table-data">
                                    <table class="table">
                                        <thead>
                                            <tr>

                                                <td>Nama</td>
                                                <td>Role</td>

                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="data in users">

                                                <td>
                                                    <div class="table-data__info">
                                                        <h6>TEST</h6>
                                                        <span>
                                                            <a href="#">{{data.email}}</a>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span class="role admin">{{data.roles}}</span>
                                                </td>

                                                <td>
                                                    <span class="more">
                                                        <i class="zmdi zmdi-more"></i>
                                                    </span>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>

                        <%- include('global/footer'); -%>
                      </div>
                  </div>
              </div>
            </div>

        </div>

    </div>

  <%- include('global/js'); -%>
  <script src="js/scripts/users.js"></script>

</body>

</html>
<!-- end document-->
